{% extends 'shop/basic.html' %}
{% block title%} About Us{% endblock %}
{% block body%}
<div class="container">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-4">
                <img src="/media/shop/images/Aditi_2019csb1063.jpeg" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">About me</h5>
                    <p class="card-text">I am Aditi Aggarwal. I am from Ambala. Presently I am studying Computer Science
                        Engineering in IIT ROPAR.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row featurette d-flex justify-content-center align-items-center">

            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Hobbies</h5>
                    <p class="card-text">I also like to do something different so I keep trying different things like making different websites.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

                </div>
            </div>
            <div class="col-md-4">
                <img src="https://source.unsplash.com/900x1200/?hobbies,websites"  class="card-img" alt="...">
            </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-4">
                <img src="https://source.unsplash.com/900x1200/?future,engineers,tech" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Future Goals</h5>
                    <p class="card-text">My future goal is to fulfill all my dreams, to follow my passion not the society.I will try my best to achieve all this in my life.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row featurette d-flex justify-content-center align-items-center">

            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Achievements</h5>
                    <p class="card-text">Achieved many things in life but also want to achieve that thing which would bring happiness so I am in search of all these things.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

                </div>
            </div>
            <div class="col-md-4">
                <img src="https://source.unsplash.com/900x1200/?best,achivements,tech"  class="card-img" alt="...">
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class='container' >
    <h1>Thank You!</h1>
    <br>
    <h1>
        Enjoy! All the best for the future!
    </h1>
</div>
{% endblock %}