{% extends 'shop/basic.html' %}
{% block title%}Prodview({{product.0.product_name}}){% endblock %}
{% block style %}
.btn{
display:inline-block;
}
.card {
margin-top:30px;
margin-bottom:30px;
}
.card-body{
text-align:center;
}

.card img{
margin-top:20px;
width:500px;
height:250px;
padding-left:125px;
padding-right:60px;
}
h1{
text-align:center;
}
.body{
background-image:url("/media/{{product.0.image}}");
background:33FFCC;
opacity:50%;
}
h4{
text-align:center;
}
h5{

background:33FFCC;
}
{% endblock %}
{% block body%}
<br>
<div class="container">
    <h1>{{product.0.product_name}}</h1>
    <div class="card-group">
        <div class="card col sm-4 m" style="width: 18rem;">
          <img src="/media/{{product.0.image}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">{{product.0.product_name}}</h4>
          </div>
          <div class="card-body">
            <button id="pr{{product.0.id}}" class="btn btn-primary cart">Add to Cart</button>
            <a href="/shop/" class="btn btn-primary mx-2 my-0" role="button">Buy Now</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <ul class="list-group list-group-flush">
              <li class="list-group-item"><h6>Sub Category :</h6><h5>{{product.0.subcategory}}</h5></li>
              <li class="list-group-item"><h6>Price :</h6><h5>{{product.0.price}}</h5></li>
              <li class="list-group-item"><h6>Publish date :</h6><h5>{{product.0.pub_date}}</h5></li>
              <li class="list-group-item"><h6>{{product.0.desc}}</h6></li>
          </ul>
        </div>
    </div>
</div>
{% endblock %}
